.experience {
  padding: 0% 10%;
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 4%;
  background-color: #111111;;
}

.experience-item {
  margin: 0% 0% 8% 8%;
}

.experience h2 {
    margin: 0% 0% 5% 0%;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2rem
}

.title-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0% 0% 2% 0%;
}

.title-date .title {
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 29px;
color: #FFFFFF;
}

.title-date .date {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;
  color: #C4C4C4;
}

.experience-item h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;
  margin-bottom: 1%;
  color: #6CACE4;
}

.experience-item .descricao {
  font-style: normal;
  font-size: 1.3rem;
  margin: 2% 0%;
  width: 95%;
  line-height: 2.2rem;;
}

.experience-item ul {
  margin: 2% 0% 2% 10%;
  line-height: 2.2rem;
}

.experience-item a {
  text-decoration: none;
}

.experience-item a:hover {
  color: #878787;
}