.experience {
  padding: 0% 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  background-color: #111111;
}

.experience-title {
    margin: 3% 0% 5% 10%;
    /* background-color: rebeccapurple; */
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 2rem;
}
