.experience-item {
  width: 65vw;
  margin: 0% 0% 8% 10%; 
}

.title-date {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0% 0% 2% 0%;
}

.title-date .title {
font-style: normal;
font-weight: 500;
font-size: 1.7rem;
line-height: 2rem;
color: #FFFFFF;
}

.title-date .date {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;
  color: #C4C4C4;
}

.experience-item h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 24px;
  margin-bottom: 1%;
  color: #6CACE4;
}

.experience-item .descricao {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 35px;
  margin: 2% 0%;
}

.experience-item ul {  
  font-style: normal;
  font-size: 1.2rem;
  margin: 2% 0% 2% 10%;
  line-height: 2.2rem;
}

.experience-item a {
  font-style: normal;
  font-size: 1.2rem;
  text-decoration: none;
}

.experience-item a:hover {
  color: #878787;
}

.experience-item i {
  font-size: 1.2rem;
  display: block;
}

.experience-item b {
  font-style: normal;
  font-size: 1.2rem;
  display: block;
}